dist
dist-*
cabal-dev
*~
*.o
*.vim
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
craft.cabal
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
stack.yaml.lock
stack.yaml.lock.save
sandbox.cabal
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
